.footer {
  background-color: var(--Black);
  color: var(--White);
  padding: 3rem 1.5rem;
  &__content {
    text-align: center;
    max-width: 1146px;
    padding: 0 0rem;
    margin: 0 auto;
    display: grid;
  }
  &__logo {
    max-width: 144px;
  }
  &__menu {
    display: grid;
    list-style: none;
    padding: 0;
  }
  &__link {
    display: inline-block;
    color: var(--White);
    text-decoration: none;
    line-height: 3rem;
  }
  &__social {
    font-size: 1.5rem;
    a {
      color: var(--White);
      margin: 0 0.5rem;
      transition: border 0.4s;
      &:hover {
        border-bottom: 3px solid var(--White);
      }
    }
  }
  &__copy {
    color: var(--VeryDarkGray);
  }
  @media screen and (min-width: 992px) {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      align-items: center;
    }

    &__menu {
      grid-auto-flow: column;
      // column-gap: 2rem;
    }
    &__link {
      position: relative;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 20%;
          width: 60%;
          height: 2px;
          background-color: var(--White);
        }
      }
    }
    &__social {
      text-align: right;
      grid-row: 1;
      grid-column: 2;
    }
    &__copy {
      text-align: right;
    }
  }
}
