.header {
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1146px;
    padding: 0 0rem;
    margin: 0 auto;
  }
}

.navbar {
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__brand {
    display: inline-flex;
    align-items: center;
  }
  &__logo {
    max-width: 144px;
  }
  &__check {
    display: none;
    &:checked ~ .navbar {
      position: fixed;
      left: 0;
      background-color: var(--Black);
      flex-wrap: wrap;
      align-items: flex-start;
      min-height: 100vh;
      width: 100%;
      .navbar__button {
        background-image: url("../images/icon-close.svg");
      }
      .navbar__menu {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &__button {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.4s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__menu {
    display: none;
    list-style: none;
    padding-left: 0;
  }
  &__item {
    display: block;
  }
  &__link {
    display: block;
    color: var(--White);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 0;
    position: relative;
    transition: all 4s;
  }
  @media screen and (min-width: 992px) {
    &__logo {
      max-width: 192px;
    }
    &__button {
      display: none;
    }
    &__menu {
      display: flex;
      gap: 2rem;
    }
    &__link {
      text-transform: capitalize;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 20%;
          width: 60%;
          height: 2px;
          background-color: var(--White);
        }
      }
    }
  }
}

.hero {
  padding: 2rem;
  min-height: calc(100vh - 104px);
  display: flex;
  align-items: center;
  &__title {
    padding: 2rem;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 300;
    margin: 0;
    border: 2px solid #fff;
    max-width: 654px;
  }
  @media screen and (min-width: 992px) {
    &__title {
      font-size: 4.5rem;
    }
  }
}
